.Square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 44px;
    height: 44px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 44px;
}

.Square:hover {
    cursor: pointer;
}

.Square:disabled {
    cursor: default;
    color: black;
}

.Square:focus {
    outline:0;
}
